*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
header{
    background-image:linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
    padding: 10px;
    float: none;
    
}
img{
    width: 60px;
    height: 80px;
}
.fire{width: 60px;
    height: 80px;

}
.login{
    float: right ;
    padding: 25px;
}
.login a{
    text-decoration: none;
    color: rgb(119, 7, 7);
    font-weight: 700;
    font-size: 20px;
}
.login a:hover{
    text-decoration: underline;
}
.home{
    clear: both;
}
.home{
    background-image:linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    text-align: center;
    position: sticky;
    top:0;
    padding: 25px;
    word-spacing: 15px;
    z-index: 1;
}
.home a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.home a:hover{
    color: white;
}
.hi{
    background-image: url(./img/banner.jpg);
    width: 100vw;
    height: 65vh;
    background-size:100% 100%;
    position: relative;
}
.hi h1{
    color: white;
    font-size: 40px;
    position: absolute;
    top:30%;
    left: 10%;
}
.hi p{
    color: red;
    font-size: 20px;
    text-shadow: 0 2px 4px white;
    position: absolute;
    top: 43%;
    left: 10%;
}
.hi button{
    color: black;
    background-color:violet;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left:10%;
    cursor: pointer;
}
.hi button:hover{
    background-color: rgba(255, 255, 255, 0.404);
}
main{
    font-size: 20px;
    padding: 20px;
}
.logo{
    color: white;
    font-size: 50px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background-color: red;
    border-radius: 50% ;
    padding: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo:hover{
    color: black;
    outline: 3px solid red;
    outline-offset: 4px;}



